@import url('../css/chillax.css');
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #13151d;
}

.alert {
  padding-left: 40%;
  padding-right: 40%;
}

.contact {
  padding: 0.5rem;
  padding-top: 4rem;
  display: flex;
  height: 900px;
}

.contact_form {
  padding: 2rem;
  width: 60%;
}

.contact_form h1{
  font-size: 70px;
  line-height: 65px;
}

.contact_form p{
  font-size: 35px;
  padding-bottom: 2rem;
}

.contact_info{
  display: flex;
  width: 100%;
  gap: 20px;
}

.contact_info > *{
  width: 50%;
  background-color: #1b1b22;
  border-radius: 10px;
}

.contact_message{
  padding-top: 1.5rem;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.contact_message > *{
  width: 100%;
  background-color: #1b1b22;
  border-radius: 10px;
}

.contact_message Button{
  padding: 0.5rem;
  background-color: #ffffff;
  color: black;
  font-size: 20px;
}

.contact_message Button:hover{
  background-color: #a0a0a0;
}

.contact_image {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact_image div{
  background: url(../assets/111.avif);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
