.main {
  background-color: #13151d;
}

.home {
  background-color: #4137cf;
  height: auto;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.hero_text{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero_title {
  line-height: 70px;
  font-size: 50px;
}

.typewriter {
  color: orange;
  width: 135px;
  text-align: left;
}

.hero_info {
  text-align: center;
  font-size: 25px;
  width: 80%;
  padding: 1rem;
}

.hero_info > .introduction{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.hero_info > p {
  width: 100%;
}

.hero_info a {
  padding: 8px;
}

.hero_info svg {
  height: 4rem;
  width: 3rem;
  transition: all .2s ease-in-out;
}

.hero_info svg:hover {
  transform: scale(1.35);
}

.hero_image {
  margin: 1rem;
  background: url(../app/img/bachelorsdegree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:  inset 0 0 0 9px rgba(22, 19, 187, 0.3);
  width: 350px;
  height: 350px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}


@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider {
  z-index: 0;
  white-space: nowrap;
  background: linear-gradient(#4137cf, #13151d);
}

.slide {
  display: inline-block;
  position: relative;
  animation: 25s slide infinite linear;
  opacity: 0.5;
}

@keyframes shift {
  0% {
      transform: translateX(10%) translateY(10%);
  }

  100% {
      transform: translateX(-10%) translateY(-10%);
  }
}

@keyframes shift {
  0% {
      transform: translateX(10%) translateY(10%);
  }

  100% {
      transform: translateX(-10%) translateY(-10%);
  }
}

.services {
  text-align: center;
  padding: 10rem;
}

.services div {
  line-height: 100px;
}

.service_title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.service_title div {
  border-radius: 35px;
  width: 150px;
  height: 90px;
}

.services h2 {
  font-family: 'Chillax-Extralight' !important;
  padding: 2rem;
}

.services h1 {
  font-family: 'Chillax-Semibold' !important;
  font-size: 120px;
  padding-left: 1.5rem;
}

.background_text {
  color: #1d1313;
  font-family: 'Chillax-Semibold';
  font-size: 100px;
  align-items: center;
  justify-content: center;
  background-clip: text;
  -webkit-text-fill-color: #1d1313;
  -webkit-background-clip: text;

  opacity: 0.75;
}

.background_text_alt {
  color: #13151d;
  font-family: 'Chillax-Semibold';
  font-size: 100px;
  align-items: center;
  justify-content: center;
  background-clip: text;
  -webkit-text-fill-color: #13151d;
  -webkit-background-clip: text;

  opacity: 0.75;
}
  
@keyframes bg-animation {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}

.experiences {
  padding: 6rem;
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.experiences h1{
  font-size: 35px;
  padding: 1rem;
  font-family: 'Chillax-Extralight' !important;
  align-items: center;
  text-align: center;
}

.experience_holder {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 10px;
}

.jobs_holder {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card_holder {
  font-size: 20px;
  padding: 30px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.card_holder .job_organization, .card_holder .school_organization{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_holder .job_organization div, .card_holder ul, .card_holder .school_organization div, .card_holder .project_technologies{
  padding: 20px;
}

.card_holder > p {
  font-size: 20px;
  padding: 20px;
}

.card_holder > img{
  width: 100%;
  height: 75%; 
  border-radius: 20px;
}

.card_holder .job_organization h2 {
  font-size: 25px;
}

.cv {
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  font-size: 2rem;
}

.projects {
  height: auto;
  width: auto;
  padding-top: 4rem;
  padding-bottom: 10rem;
  box-sizing: border-box;
}

.item_grid {
  max-width: 85%;
  margin: 0 auto;
}

.item_grid > div {
  border-radius: 25px;
  padding: 1em;
}

.item_grid div {
  padding: 0.7em;
}

.item_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}

.item_grid > h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: aliceblue;
  line-height: 100px;
}

.project_a {
  background-color: rgb(233 171 88);
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
}

.project_b {
  background-color: rgba(163, 88, 233);
  grid-column: 1;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_c {
  background-color: rgb(216, 84, 84);
  grid-column: 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_d {
  background-color: rgb(91, 212, 97);
  grid-column: 2 / 4;
  grid-row: 3;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
}

.project_description {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.project_text h1 {
  color: aliceblue;
}

.project_text p {
  padding-bottom: 15px;
  font-size: 20px;
  font-style: italic;
  color: black;
}

.project_text span {
  font-size: 20px;
  color: black;
}

.project_utils {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.project_technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
}

.project_technologies p {
  border-radius: 20px;
  background-color: rgba(255, 255, 255);
  color: black;
  height: 25px;

  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.project_links{
  width: 120px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  margin: 20px;
  height: auto;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  cursor: pointer;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.project_links:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.project_links:focus {
  outline: none;
}

.illustrations {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
  height: auto;
}

.illustrations .top{
  padding: 1rem;
  font-family: 'Chillax-Extralight' !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.illustrations .top h1 {
  font-size: 25px;
}

.illustrations .top a {
  font-size: 20px;
  text-decoration-line: underline;
}

.drawings {
  display: flex;
  padding: 1rem;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.drawing img {
  transition: 0.5s;
  width: auto;
  height: 770px;
  padding: 8px;
}

.drawing img:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
}

.info_text {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.info_type {
  padding: 0.5rem;
}
.info_type p{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  align-items: center;
  justify-content: center;
}
.info_date {
  padding-left: 1rem;
}

.logo {
  position: relative;
}

.contact {
  text-align: center;
  padding: 6rem;
  background-color: aliceblue;
  color: #191a1d;
  transition: 0.5s;
}

.contact h1 {
  font-family: 'Chillax-Semibold' !important;
  font-size: 100px;
  line-height: 75px;
  z-index: 5;
}

.contact:before {
  background: #d35400;
  transition: .5s;
}


.contact:hover:before {
  box-shadow: 0 0 15px #d35400;
  filter: blur(3px);
}


.contact:hover {
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
}

.contact h2 {
  padding-bottom: 1rem;
}

@keyframes animate {

  0%{
      transform: translateY(-300px) rotate(0deg);
      opacity: 1;
      border-radius: 35%;
  }

  100%{
      transform: translateY(-600px) rotate(720deg);
      opacity: 0;
      border-radius: 75%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.side_title {
  color: black;
  -webkit-text-fill-color: aliceblue; /* Will override color (regardless of order) */
  -webkit-text-stroke: 3px black;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: 45;
  }

  .card:hover span {
    transform: translateX(4px);
    border-radius: 45;
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
    border-radius: 45;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media only screen and (max-width: 600px) {
  .home {
    padding-top: 3rem;
  }

  .hero_text{
    padding: 0.5rem;
  }
  
  .hero_title {
    font-size: 30px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero_image {
    width: 305px;
    height: 305px;
  }

  .hero_info > .introduction{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .services {
    text-align: center;
    padding: 2rem;
    padding-top: 8rem;
  }

  .services div {
    line-height: 70px;
  }
  
  .service_title {
    flex-direction: row;
    padding: 10px;
  }

  .service_title div {
    border-radius: 35px;
    width: 110px;
    height: 70px;
    font-size: 70px;
  }  

  .services h1 {
    font-family: 'Chillax-Semibold' !important;
    font-size: 50px;
    padding-left: 1.5rem;
    line-height: 60px;
  }

  .experiences {
    padding: 1rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .experiences h1{
    font-size: 30px;
  }
  
  .experience_holder {
    display: flex;
    flex-direction: column;
  }
  
  .jobs_holder {
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .card_holder {
    font-size: 18px;
    padding: 30px;
    width: 100%;
    height: auto;
  }
  
  .card_holder .job_organization div, .card_holder ul, .card_holder .school_organization div, .card_holder .project_technologies{
    padding: 20px;
  }

  .project_technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }
  
  .card_holder > p {
    font-size: 20px;
    padding: 10px;
  }

  .drawings {
    display: flex;
    padding: 1rem;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .drawing img {
    height: 370px;
  }

  .contact {
    text-align: center;
    padding: 5rem;
    background-color: aliceblue;
    color: #191a1d;
    transition: 0.5s;
  }
  
  .contact h1 {
    font-family: 'Chillax-Semibold' !important;
    font-size: 45px;
    line-height: 45px;
    z-index: 5;
  }
  
  .contact h2 {
    padding-bottom: 0.5rem;
  }

  .projects {
    height: auto;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 10rem;
    box-sizing: border-box;
  }
  
  .item_grid {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
  
  .item_grid > h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: aliceblue;
    line-height: 100px;
  }
  
  .project_a {
    background-color: rgb(233 171 88);
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project_b {
    background-color: rgba(163, 88, 233);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project_c {
    background-color: rgb(216, 84, 84);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project_d {
    background-color: rgb(91, 212, 97);
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project_description {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  
  .project_text h1 {
    color: aliceblue;
  }
  
  .project_text p {
    padding-bottom: 15px;
    font-size: 20px;
    font-style: italic;
    color: black;
  }
  
  .project_text span {
    font-size: 20px;
    color: black;
  }
  
  .project_utils {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .project_technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
  }
  
  .project_technologies p {
    border-radius: 20px;
    background-color: rgba(255, 255, 255);
    color: black;
    height: 25px;
  
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem alicebluefff70);
  }
}